ul {
  list-style: none;
  li {
    display: flex;
    padding: 15px;
    border: 1px solid black;
    margin: 5px;
    width: 400px;
    background-color: rgb(207, 207, 207);
    box-shadow: 0 3px 15px grey;

    h2 {
      color: rgb(0, 102, 255);
      font-size: 16pt;
      margin-bottom: 5px;
    }

    img {
      height: 150px;
      border-radius: 50%;
      box-shadow: 0 2px 10px gray;
      margin-right: 10px;
    }
  }
}
