$color-red: rgb(255, 30, 0);
$color-red-light: rgb(255, 120, 102);
$color-red-dark: rgb(218, 0, 0);
$color-dark: rgb(39, 39, 39);
$color-light: rgb(238, 238, 238);
$color-grey: rgb(202, 202, 202);

$trans-default: all 300ms ease;
$trans-long: all 600ms ease;
